:root{
    --primary-color:#dd3163;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text-center{
    text-align: center;
}

header{
    background: linear-gradient(62deg, white, aliceblue);
    height:60px;
    font-family: 'Ubuntu', sans-serif;
    /* font-family: 'Black Ops One', cursive; */
font-size: 23px;
}
.ulhead{
    display: flex;
    
    flex-wrap: wrap;
    justify-items: center;
    align-items: flex-start;
}
.nav-logo{
    transition: all 0.2s ease-in;
}
.nav-logo:hover{
    transform: scale(1.01);
}
.nav-items{
    
    display: flex;
    flex-wrap: wrap;
    /* background: aliceblue; */
    position: absolute;
    right: 2px;
    width: 667px;
    margin: 0px;
    height: 60px;
}
.nav-items>li{
list-style: none;
padding:15px;
transition: all 0.2s ease-in;
margin-left: 25px;
}

.nav-items>li>a{
    text-decoration: none;
    color:#dd3163;
}
.nav-items>li:hover{
    transform: translateY(3px);
    
}
.ulhead>a>img{
    width: 73%;
    padding: 1px;
    border-radius: 5%
}
.hero{
    height: 94vh;
    /* z-index: -1; */
}
.hero-text{
    position: absolute;
    top: 174px;
    right: 77px;
}

.hero-text>h1 {
    font-size: 60px;
    font-family: sans-serif;
    text-transform: uppercase;
    background:-webkit-repeating-linear-gradient(30deg,#dd3163,rgb(240, 44, 44));
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}
.hero-text>h2 {
    font-size: 41px;
    font-family: sans-serif;
    
    margin-top: -28px;
   color:darkcyan;
}
.bg>img{
    width: 88%;
    position: absolute;
    bottom: -26px;
    z-index: -1;
    left: -19px;
    bottom: 20px;

}

.intro {
    background: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slider {
      background: rgb(97, 105, 109);
      /* background: black; */
      position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
  }
  
  .intro-text {
    color: white;
    font-family: "Heebo", sans-serif;
    font-size: 3rem;
  }
  
  .hide {
    background: var(--primary-color);
    overflow: hidden;
  }
  
  .hide span {
    transform: translateY(100%);
    display: inline-block;
  }

  .second{
      /* background: #00abaa; */
      height: 100vh;
  }
  .second-heading{
    
    height: 150px;
    width: 730px;
    margin: auto;
    background: cadetblue;
    transform: translateY(58px);
    opacity: 0.8;
    border-radius: 0%;
  }
  .second-heading>h1{
      font-size: 2rem;
      color: aliceblue;
            font-family: 'Ubuntu';
  }
  
  
  .second::before{
    background: url('./bg.jpg')no-repeat center center/cover;
    content: "";
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    height: 777px;
    width: 100%;
    opacity: 0.8;
    z-index: -1;
  }